@import '../variables';

.searchbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 30px;

    input {
        width: 80%;
        height: 100%;
        box-sizing: border-box;
        border: 0;
        border-bottom: 1px solid $darkgray;
        text-transform: uppercase;
        outline: none;
        background-color: transparent;
    }

    button {
        border-radius: 0;
        background-color: $darkgray;
        color: #FFF;
        border: 0;
        box-shadow: 0;
        height: 100%;
        width: 15%;
        margin-left: 5%;
        text-transform: uppercase;
        outline: none;
    }
}