@import '../variables';

.cityInfo {
    article {
        width: 100%;

        p {
            text-align: center;

            &.temperature {
                font-size: 45px;
                font-weight: 200;
            }

            &.description {
                text-transform: capitalize;
            }
        }
    }
}