body {
    background-color: #F7E37E;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;

    #root {
        width: 100%;
        height: calc(100vh - 16px);
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
    }

    .day {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
    }
}